.login-bg {
    background-image: url(../../image/loginbg.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.login {
    margin-top: 100px;
    opacity: 1;
}
.logo {
    height: 70px;
    width: 70px;
}
.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid maroon;
}