.banner {
    background-image: url(../../../image/banner.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text {
    margin-top: 130px;
    font-family: 'Poppins', sans-serif;
}